---
import Layout from '@layouts/Layout.astro';
import PageHeader from '@components/structure/PageHeader.astro';
import Anchor from '@components/Anchor.astro';
import Button from '@components/Button.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../types/consts';
import { SOCIAL_LINKEDIN, SOCIAL_X, SOCIAL_INSTAGRAM, SOCIAL_YOUTUBE, SOCIAL_GITHUB } from '@types/consts';

import Icon from '@components/Icon.astro';

const {
  title = 'About',
  screen_title = 'Marcel Rojas&apos; about screen',
} = Astro.props;
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <PageHeader screen_title={screen_title} />

  <section class="collection--module">

    <article class="module--work">
      <audio loop="" src="/audio/beats.aac"></audio>
      <h1 class="title">Curriculum</h1>
      <p class="description">Building better business with an individual approach to each client with a wide range of services.</p>
      <ul>
        <li>
          <Button role="button" wide="fit" class="badge audio_trigger">Review résumé</Button>
        </li>
        <li>
          <a href="https://contra.com/marcelrojas" target="_blank" rel="noopener noreferrer" class="badge audio_trigger">Explore my services</a>
        </li>
        <li>
          <a href={SOCIAL_LINKEDIN} target="_blank" rel="noopener noreferrer">Connect on LinkedIn</a>
        </li>
      </ul>
    </article>

    <aside>
      <ul>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_X} target="_blank" rel="noopener noreferrer" aria-label={`Visit my X profile`}>
            <Icon name="x" />
          </Anchor>
        </li>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_INSTAGRAM} target="_blank" rel="noopener noreferrer" aria-label={`Visit my Instagram profile`}>
            <Icon name="instagram" />
          </Anchor>
        </li>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_YOUTUBE} target="_blank" rel="noopener noreferrer" aria-label={`Visit my YouTube profile`}>
            <Icon name="youtube" />
          </Anchor>
        </li>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_GITHUB} target="_blank" rel="noopener noreferrer" aria-label={`Visit my GitHub profile`}>
            <Icon name="github" />
          </Anchor>
        </li>
      </ul>
    </aside>
  </section>

</Layout>

<style>
  .collection--module {
    display: flex;
    flex-wrap: wrap;

    & audio {
      display: none;
    }

    & > article.[class*="module--"] {
      display: block;
      background-color: var(--background-secondary);

      & > h1.title {
        font-size: 32px;
        font-weight: var(--font-weight-medium);
        line-height: 40px;
      }

      & > p.description {
        padding-bottom: 18px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: var(--text-secondary);
      }

      & > .badge {
        margin-bottom: 1.75rem;
        display: inline-flex;
        height: 32px;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
        background-color: var(--accent);
        padding-inline: 1.25rem;
        font-size: 14px;
      }
    }
  }

  @media screen and (width <= 768px) {

    article.[class*="module--"] {

      & > .badge {
        margin-bottom: 2rem;
      }
    }
  }

  @media screen and (width <= 1024px) {

    h1.title {
      line-height: 50px;
    }

    p.description {
      padding-bottom: 18px;
      font-size: 16px;
    }

    .badge {
      margin-bottom: 46px;
      height: 40px;
      font-size: 16px;
    }
  }
</style>
