---
import Layout from '@layouts/Layout.astro';
import Anchor from '@components/Anchor.astro';
import PageHeader from '@components/structure/PageHeader.astro';
import TableOfContents from '@components/TableOfContents.astro';
import SectionWeblog from '@components/structure/SectionWeblog.astro';
import SectionFeatured from '@components/structure/SectionFeatured.astro';

const {
  title = 'Resources',
  screen_title = 'Resources screen',
  description = 'Learn how to improve your skills and become who you want to be.',
} = Astro.props;
---

<Layout title={title} description={description}>

  <PageHeader screen_title={screen_title} />

  <TableOfContents headings={headings} variant="page" srOnlyTitle={true} />

  <aside class="content-sections">
    <h3 class="table-of-contents__title">Tabla de contenidos</h3>
    <p class="table-of-contents__subtitle">Explore my resources for guides, tutorials, and tools to help you succeed.</p>

    <ol class="table-of-contents__list">
      <li>
        <Anchor href="/resources/#guides">Guides</Anchor>
      </li>
      <li>
        <Anchor href="/resources/#tutorials">Tutorials</Anchor>
      </li>
      <li>
        <Anchor href="/resources/#tools">Tools</Anchor>
      </li>
      <li>
        <Anchor href="/resources/#weblog">Weblog</Anchor>
      </li>
    </ol>
  </aside>

  <section class="product-showcase">
    <h2 id="">Featured products</h2>

    <div class="collection--module">

      <article class="module--">
        <h1 class="title">Title</h1>
        <p class="description">Description</p>
        <Anchor class="badge" href="/">Now $99</Anchor>
      </article>

      <article class="module--">
        <h1 class="title">Title</h1>
        <p class="description">Description</p>
        <Anchor class="badge" href="/">$299</Anchor>
      </article>

      <article class="module--">
        <h1 class="title">Composer</h1>
        <p class="description">CLI text <i>Composer</i>.</p>
        <Anchor class="badge" href="/composer/">FOSS!</Anchor>
      </article>

      <article class="module--">
        <h1 class="title">Title</h1>
        <p class="description">Description.</p>
        <Anchor class="badge" href="/">$299</Anchor>
      </article>

    </div>

  </section>

  <SectionWeblog />

  <SectionFeatured />

</Layout>

<style is:global>
  section.product-showcase {

    & > .collection--module {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &:not(:last-child) > article.[class*="module--"] {
        border-right: 1px solid var(--color-border-default);
      }

      &:is(:first-child, :last-child) > article.[class*="module--"] {
        width: 100%;
      }

      &:not(:first-child):not(:last-child) > article.[class*="module--"] {
        width: 50%;
      }

      & > article.[class*="module--"] {
        min-height: var(--min-height);
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: var(--padding-top);
        text-align: center;
        border-bottom: 1px solid var(--color-border-default);

        & > h1.title {
          font-size: 32px;
          font-weight: var(--font-weight-semibold);
          line-height: 40px;
        }

        & > p.description {
          padding-bottom: 18px;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          color: var(--color-grey1);
        }

        & > .badge {
          margin-bottom: 1.75rem;
          display: inline-flex;
          height: 32px;
          align-items: center;
          justify-content: center;
          border-radius: 32px;
          background-color: var(--color-yellow-digital);
          padding-inline: 1.25rem; /* px-5 */
          font-size: 14px;
        }

      }

    }

  }
</style>
