---
import Grain from '@components/decorators/Grain.astro';
import Anchor from '@components/Anchor.astro';
import Button from '@components/Button.astro';
import Icon from '@components/Icon.astro';
import { COPYRIGHT_NAME, COPYRIGHT_YEAR, SOCIAL_X, SOCIAL_INSTAGRAM, SOCIAL_YOUTUBE, SOCIAL_GITHUB, SOCIAL_LINKEDIN } from '@types/consts';

const {encEmail = 'bWFyY2Vscm9qYXMya0BnbWFpbC5jb20='} = Astro.props;
---

<footer id="footer" aria-label="Global footer" tabindex="-1">

  <Grain />

  <div class="content">

    <aside aria-label="Contact me">
      <span class="section-tag" aria-hidden="true">Contact</span>
      <p>Reach out for freelancer work or just to say hi ·[⌢o⌢]·</p>
      <Button id="clipboard-cliper" class="copy-email" data-encemail={encEmail}>Tab to copy my e-mail</Button>
    </aside>

    <address class="social-handles">
      <ul>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_X} target="_blank" rel="noopener noreferrer" aria-label={`Visit my X profile`}>
            <Icon name="x" />
          </Anchor>
        </li>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_INSTAGRAM} target="_blank" rel="noopener noreferrer" aria-label={`Visit my Instagram profile`}>
            <Icon name="instagram" />
          </Anchor>
        </li>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_YOUTUBE} target="_blank" rel="noopener noreferrer" aria-label={`Visit my YouTube profile`}>
            <Icon name="youtube" />
          </Anchor>
        </li>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fit" href={SOCIAL_GITHUB} target="_blank" rel="noopener noreferrer" aria-label={`Visit my GitHub profile`}>
            <Icon name="github" />
          </Anchor>
        </li>
        <li>
          <Anchor variant="platted" label="icon-only" size="medium" wide="fill" href={SOCIAL_LINKEDIN} target="_blank" rel="noopener noreferrer" aria-label={`Visit my LinkedIn profile`}>
            <Icon name="linkedin" />
          </Anchor>
        </li>
      </ul>
    </address>

    <div class="legal">

      <nav aria-label="Legal">
        <ul>
          <li>
            <a href="/colophon">Colophon</a>
          </li>
          <li>
            <a href="/impressum">Impressum</a>
          </li>
          <li>
            <a rel="privacy-policy" href="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </nav>

      <small class="copyright">&copy; {COPYRIGHT_YEAR} {COPYRIGHT_NAME}. All rights reserved.</small>

    </div>

  </div>

</footer>

<style is:global>
  footer#footer {
    position: relative;
    z-index: var(--z-footer);
    contain: layout paint;
    content-visibility: auto;
    border-width: 2px 1px;
    border-style: solid;
    border-color: var(--fill-border);

    & > div.content {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      padding-inline-start: calc(var(--spacing-sal) + var(--spacing-03));
      padding-inline-end: calc(var(--spacing-sar) + var(--spacing-06));
      padding-block-start: calc(var(--spacing-sat) + var(--spacing-03));
      padding-block-end: calc(var(--spacing-sab) + var(--spacing-02));

      span.section-tag {
        font-family: var(--font-family-sans);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-12);
        text-transform: uppercase;
      }

      & > aside {
        position: relative;
        display: flex;
        padding: 8px;
      }

      &:first-of-type {
        margin-block-start: 0;
      }

      &:last-of-type {
        margin-block-end: 32px;
      }

      & address.social-handles {
        position: relative;
        max-width: 448px;
        display: flex;
        align-self: center;

        & ul {
          display: flex;
          flex-direction: row;
          gap: 16px;
        }

      }

      & > div.legal {
        position: relative;
        display: flex;
        gap: var(--spacing-06);
        flex-direction: column;
        align-self: end;
        align-items: baseline;

        & > nav {
          position: relative;
          display: block;
          align-self: end;

          & > ul {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-04);
            font-family: var(--font-family-sans);
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-12);
            text-transform: uppercase;
          }

        }

        & > small.copyright {
          position: relative;
          display: block;
          font-family: var(--font-family-sans);
          font-weight: var(--font-weight-medium);
          font-size: var(--font-size-14);
        }

      }

    }

  }
</style>

<script src="@scripts/encEmail.js"></script>
